body {
  display: flex;
  flex-flow: column nowrap;
  font-family: Helvetica, san-sarif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  align-items: center;
}

h2 {
  margin: 10px auto;
}

h4 {
  margin: 10px auto;
}

navbar {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  height: 69px;
  z-index: 2;
  background-color: black;
  border-bottom: 1px solid white;
}

navbar .logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

navbar .links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  align-items: center;
}

navbar .links a {
  color: seashell;
  text-decoration: underline;
  padding: 0 15px;
}

main {
  width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

main .mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../media/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  padding-top: 70px;
  margin: auto;
}

main .mission .statement {
  width: 100%;
  background-color: black;
}

main .featured {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 50px;
}
main .featured .teas {
  display: flex;
  flex-flow: row wrap;
  width: 1000px;
  padding-top: 10px;
  margin: 0 auto;
  justify-content: center;
  align-content: space-around;
}

figure {
  padding: 10px;
  margin: 0;
}

main .locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../media/img-locations-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 500px;
  padding: 60px 0 10px 0;
  margin-top: 50px;
}

main .locations .locboxes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

main .locations .locboxes .locbox {
  background-color: black;
  width: 300px;
  height: 250px;
  opacity: 1;
  margin: 20px;
}

footer {
  display: block;
  text-align: center;
  width: 100%;
  height: 200px;
}

footer a {
  text-decoration: none;
  color: seashell;
}

footer h2 {
  margin-top: 20px;
  margin-bottom: 50px;
}

copyright {
  display: block;
  width: 100%;
  text-align: left !important;
  padding-left: 20px;
  font-size: smaller;
  font-weight: bold;
  margin: 30px auto;
}
